.footer
{
    width: 100%;
}

.footer__social-media
{
    align-items: center;
    background-color: black;
    display: flex;
    width: 100%;
}

.footer__social-media__content
{
    display: flex;
    justify-content: space-between;
    padding: 1.3em 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.footer__hashtag
{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

// .footer__git-if { }

.footer__git-if--a
{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.footer__contact
{ 
    background-color: $azul;
    width: 100%; 
}

.footer__contact__content
{
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.footer__copyright { color: white; }

.blanco { color: white }

.footer__info
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 250px;
}

// .footer__info__content { }

.footer__info--title
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.footer__info--a
{
    color: white;
}

.footer__info--a:hover
{
    text-decoration: underline;
}

.footer__fig
{
    height: 60px;
    width: 60px;
}

.footer__picture {	width: 100%; }

@media (max-width: 500px)
{
    .footer__social-media__content
    {
        display: block;
        text-align: center;
    }

    .footer__contact__content { display: block; }

    .footer__copyright
    {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 200px;
    }

    .footer__info
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        text-align: center;
    }

    .footer__fig
    {
        margin-left: auto;
        margin-right: auto;
    }

    .footer__info--a { line-height: 40px;}
}