.header {
  align-items: center;
  background-color: white;
  border-bottom: 2.5px solid #030EFF;
  display: flex;
  height: 60px;
  width: 100%;
}

.header__content {
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.header__fig {
  align-items: center;
  display: flex;
  height: 40px;
  width: 170px;
}

.header__logo {
  width: 100%;
}

.header__btn-menu {
  display: none;
}

.header__menu {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-between;
  width: 180px;
  transition: .5s;
}

.header__item--a {
  color: #000572;
  font-weight: 400;
}

.header__menu-activo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 180px;
  transition: .5s;
}

.header__item--a:hover {
  color: #030EFF;
}

@media (max-width: 960px) {
  .header {
    height: auto;
  }
  .header__content {
    display: block;
    height: auto;
    width: 100%;
  }
  .header__fig {
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
  .header__logo {
    width: 150px;
  }
  .header__btn-menu {
    color: #030EFF;
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .header__menu {
    background-color: #030EFF;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: .5s;
    width: 100%;
  }
  .header__item {
    padding: .5em 0;
  }
  .header__item:hover {
    background-color: black;
  }
  .header__item--a {
    color: white;
  }
  .header__item--a:hover {
    color: white;
  }
  .header__menu-activo {
    background-color: #030EFF;
    display: block;
    height: auto;
    padding: 1em 0;
    text-align: center;
    transition: .5s;
    width: 100%;
  }
}

.slider {
  align-items: center;
  background-image: url(../imagen/slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.slider__title {
  color: #030EFF;
  font-size: 100px;
  margin-left: auto;
  margin-right: auto;
  line-height: 85px;
}

.eventos {
  background-color: #F2F2F2;
  padding: 3em 0;
  width: 100%;
}

.eventos__content {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.eventos__menu {
  align-items: center;
  display: flex;
  background-color: #030EFF;
  height: 60px;
  width: 100%;
}

.eventos__menu__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.eventos__menu__fecha {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.eventos__menu--txt {
  font-size: 22px;
  color: white;
  font-weight: 550;
  text-transform: uppercase;
}

.eventos__menu--fecha {
  font-size: 22px;
  color: black;
  font-weight: 550;
  text-transform: uppercase;
}

.eventos__menu--filtro {
  color: white;
  font-weight: 500;
}

.eventos__cursos {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  width: 100%;
}

.eventos__cursos__post {
  align-items: center;
  background-color: white;
  display: flex;
  height: 300px;
  width: 31%;
  box-shadow: 0px 0px 5px 0px rgba(194, 194, 194, 0.42);
}

.eventos__cursos__post__content {
  display: flex;
  flex-direction: column;
  height: 210px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
}

.eventos__cursos__info {
  width: 100%;
}

.eventos__cursos--title {
  font-size: 14px;
}

.eventos__cursos--descripcion {
  font-size: 23px;
  font-weight: 500;
  line-height: 22px;
  padding: 1em  .2em 0 0;
}

.eventos__cursos--entidad {
  color: #030EFF;
  font-size: 23px;
}

.eventos__cursos__date-autor {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.eventos__cursos--fecha {
  font-size: 14px;
  color: #a0a0a0;
}

.eventos__cursos--autor {
  font-size: 14px;
  color: #363636;
}

.eventos__cursos__btn-like {
  color: red;
  font-size: 20px;
}

.eventos__btn-vermas {
  align-items: center;
  background-color: #030EFF;
  border-radius: 5px;
  display: flex;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.eventos__btn-vermas--txt {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 910px) {
  .eventos__cursos {
    display: block;
  }
  .eventos__cursos__post {
    height: 220px;
    margin-bottom: 2em;
    width: 100%;
  }
  .eventos__cursos__post__content {
    height: 150px;
  }
}

@media (max-width: 510px) {
  .eventos__cursos__post {
    height: 250px;
    margin-bottom: 2em;
    width: 100%;
  }
  .eventos__cursos__post__content {
    height: 200px;
  }
}

.mensaje {
  display: flex;
  width: 100%;
}

.mensaje__content {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 3em 0;
  width: auto;
}

.mensaje__info {
  padding-right: 2em;
  width: 350px;
}

.mensaje__info--txt-one {
  color: #030EFF;
  font-weight: bold;
  font-size: 30px;
}

.mensaje__info--txt-two {
  color: #030EFF;
  line-height: 40px;
  font-size: 30px;
}

.mensaje__fig {
  width: 300px;
}

.mensaje__picture {
  width: 100%;
}

@media (max-width: 733px) {
  .mensaje__content {
    display: block;
    text-align: center;
  }
  .mensaje__fig {
    margin-left: auto;
    margin-right: auto;
  }
  .mensaje__info {
    padding-bottom: 2em;
  }
}

.footer {
  width: 100%;
}

.footer__social-media {
  align-items: center;
  background-color: black;
  display: flex;
  width: 100%;
}

.footer__social-media__content {
  display: flex;
  justify-content: space-between;
  padding: 1.3em 0;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.footer__hashtag {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__git-if--a {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__contact {
  background-color: #030EFF;
  width: 100%;
}

.footer__contact__content {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.footer__copyright {
  color: white;
}

.blanco {
  color: white;
}

.footer__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.footer__info--title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.footer__info--a {
  color: white;
}

.footer__info--a:hover {
  text-decoration: underline;
}

.footer__fig {
  height: 60px;
  width: 60px;
}

.footer__picture {
  width: 100%;
}

@media (max-width: 500px) {
  .footer__social-media__content {
    display: block;
    text-align: center;
  }
  .footer__contact__content {
    display: block;
  }
  .footer__copyright {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
  }
  .footer__info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    text-align: center;
  }
  .footer__fig {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__info--a {
    line-height: 40px;
  }
}

.eventos__cursos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  padding: 2em 0;
}

.event-grid {
  width: 100%;
}

.noborde {
  border-bottom: 0;
}

@media (max-width: 910px) {
  .eventos__cursos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 610px) {
  .eventos__cursos-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.slider-evento {
  background-color: #030EFF;
  width: 100%;
}

.slider-evento__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.slider-evento__info {
  width: 600px;
}

.slider-evento__info--txt {
  color: white;
}

.slider-evento__info--title {
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 35px;
  padding: .5em 0 0 0;
}

.slider-evento__entidad {
  align-items: center;
  display: flex;
}

.slider-evento__entidad--verificado {
  color: white;
  padding-right: .5em;
}

.slider-evento__entidad--name {
  color: white;
  font-weight: 500;
}

.slider-evento__fig {
  height: 250px;
  width: 380px;
}

.slider-evento__picture {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@media (max-width: 510px) {
  .slider-evento__entidad {
    padding-top: 1em;
  }
}

.b-blanco {
  background-color: white;
}

.underline {
  text-decoration: underline;
}

.azul {
  color: #030EFF;
}

.entidad {
  background-color: #FFCA00;
  width: 100%;
}

.entidad__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0;
  width: 85%;
}

.entidad__content--title {
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.entidad__content--a {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 744px) {
  .slider-evento__content {
    display: block;
  }
  .slider-evento__info {
    padding: 2em 0;
    width: auto;
  }
  .slider-evento__fig {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 510px) {
  .slider-evento__fig {
    width: 100%;
  }
}

.user {
  padding-bottom: 3em;
  width: 100%;
}

.user__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5em 0;
  width: 85%;
}

.user__info {
  align-items: center;
  display: flex;
  padding-bottom: 1.5em;
}

.user__logo-entidad {
  width: 120px;
}

.user__picture-entidad {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.user__datos {
  padding-left: 2em;
}

.user__datos--name {
  font-size: 25px;
  font-weight: 500;
}

.user__datos--a {
  color: #030EFF;
}

.user__datos--descripcion {
  color: #777777;
  font-size: 14px;
  padding-top: 1em;
}

.user__posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.user__post__fig {
  background-color: red;
  border-radius: 5px;
  height: 170px;
  overflow: hidden;
  width: 100%;
}

.user__post__picture {
  height: 100%;
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.user__btn-vermas {
  align-items: center;
  background-color: #030EFF;
  border-radius: 5px;
  display: flex;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.user__btn-vermas--txt {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 910px) {
  .user__content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .user__posts {
    grid-template-columns: repeat(1, 1fr);
  }
  .user__post__fig {
    height: 250px;
  }
}

.info-evento {
  background-color: #F2F2F2;
  width: 100%;
}

.info-evento__content {
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0;
  width: 85%;
}

.info-evento__encabezado {
  align-items: center;
  background-color: #030EFF;
  display: flex;
  height: 60px;
  width: 100%;
}

.info-evento__encabezado__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.info-evento__encabezado--semillero {
  color: white;
  font-size: 22px;
  font-weight: 550;
  text-transform: uppercase;
}

.info-evento__encabezado--date {
  color: white;
  font-size: 22px;
  font-weight: 550;
}

.info-evento__informacion {
  background-color: white;
  margin-top: 1.5em;
  width: 100%;
}

.info-evento__informacion__content {
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0;
  width: 90%;
}

.info-evento__informacion__descripcion {
  padding-bottom: 2em;
  width: 100%;
}

.info-evento__informacion__descripcion--nombre {
  font-size: 18px;
}

.info-evento__informacion__descripcion--curso {
  font-size: 30px;
  font-weight: bold;
}

.info-evento__datos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-evento__datos__text {
  width: 60%;
}

.info-evento__datos--txt {
  font-size: 17px;
  text-align: justify;
  padding-bottom: 1.5em;
}

.info-evento__datos--txt-mini {
  font-size: 14px;
  text-align: justify;
  line-height: 20px;
  padding-bottom: 1.5em;
}

.info-evento__datos--enlace {
  color: #363636;
}

.info-evento__like-views {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-evento__fig {
  height: 300px;
  width: 35%;
}

.info-evento__picture {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@media (max-width: 900px) {
  .info-evento__datos {
    flex-direction: column;
  }
  .info-evento__datos__text {
    width: 100%;
    padding-bottom: 2em;
  }
  .info-evento__fig {
    height: 300px;
    width: 100%;
  }
}

* {
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */