$azul: #030EFF;
$amarillo: #FFCA00;
$b_amarillo: #FFCA00;

@import "index/header";
@import "index/slider";
@import "index/events";
@import "index/mensaje";
@import "index/footer";

@import "events/events";
@import "events/slider";

@import "semillero/slider";
@import "semillero/users";

@import "post/post";
@import "perfil/perfil";
@import "layout/hperfil";

*
{
	font-family: 'Roboto', sans-serif;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
}

body { overflow-x: hidden;}