.eventos__cursos-grid
{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 2em 0;
}

.event-grid { width: 100% }

.noborde { border-bottom: 0; }

@media (max-width: 910px) {
    .eventos__cursos-grid
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 610px) {
    .eventos__cursos-grid { grid-template-columns: repeat(1, 1fr); }
}